<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript" src="../js/vue.min.js"></script>
    <script type="text/javascript" src="../js/axios.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>


</head>
<body>
<div style="height: 80px">
    <nav class="navbar  fixed-top navbar-expand-lg navbar-light bg-light shadow p-3 mb-5 rounded" >

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 10%; margin-right: 10%; margin-bottom: 10px">
            <a class="navbar-brand" href="/">APARTMENT SERVICES</a>
            <ul class="navbar-nav mr-auto navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="/locations">LOCATIONS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutus">ABOUT US</a>
                </li>
            </ul>
            <button type="button" class="btn btn-outline-secondary my-2 my-sm-0" data-toggle="modal" data-target="#loginModal">
                RESIDENCES
            </button>
        </div>
    </nav>
</div>

<!-- login Modal -->
<div  class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">RESIDENCE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="margin-left: 30px;margin-right: 30px">
                <p>Welcome to our communities</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" ><a style="color: black" th:href="@{/residence/toSignup}">SIGN UP</a></button>
                <button type="button" class="btn btn-primary" ><a style="color: black" th:href="@{/residence/toLogin}">LOG IN</a></button>
            </div>

        </div>
    </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to our communities.</h1>
    </div>
</div>

<div id="login" style="margin-left: 35%; margin-right: 35%">
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto" class="demo-ruleForm">

        <div style="margin-bottom: 30px">
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>LOGIN</span>
                </div>
                <div class="text item">
                    <el-form-item label="USERNAME" prop="customer_username">
                        <el-input v-model="ruleForm.customer_username" placeholder="USERNAME" style="width: 80%"></el-input>
                    </el-form-item>

                    <el-form-item label="PASSWORD" prop="customer_password">
                        <el-input v-model="ruleForm.customer_password" type="password" placeholder="PASSWORD" style="width: 80%"></el-input>
                    </el-form-item>

                </div>
            </el-card>
        </div>


        <el-form-item>
            <el-button type="secondary" @click="resetForm('ruleForm')">RESET</el-button>
            <el-button type="success" @click="submitForm('ruleForm')">SUBMIT</el-button>
        </el-form-item>
    </el-form>
</div>

<script>
    var app = new Vue({
        el:"#login",
        data(){
            return{
                ruleForm: {
                    customer_username: '',
                    customer_password: '',
                },
                rules: {
                    customer_username: [
                        {required: true, message: 'Please enter valid username', trigger: 'blur'},
                        {min: 4, message: 'Username has to be minimum of 4 characters', trigger: 'blur'}
                    ],
                    customer_password: [
                        {required: true, message: 'Please enter valid password', trigger: 'blur'},
                        {min: 6, message: 'Password has to be minimum of 6 characters', trigger: 'blur'}
                    ],
                }
            }
        },

        methods: {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        axios.post('/residence/login',this.ruleForm)
                            .then(function (res) {
                                if(res.data.status){
                                    window.location.href="/residence/index";
                                }else {
                                    Vue.prototype.$message.error(res.data.message);
                                }
                            })
                            .catch(function (error) {
                                console.info(error);
                            });
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }

    });
</script>

</body>
</html>