<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript" src="../js/vue.min.js"></script>
    <script type="text/javascript" src="../js/axios.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app" style="margin-left: 20%; margin-right: 20%;">
    <el-card class="box-card" >
        <div slot="header" class="clearfix">
            <span>Change Account Password</span>
        </div>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto" class="demo-ruleForm">
            <el-form-item label="Username" prop="username">
                <el-input th:value="${session.residence_info.getCustomer_username()}" readonly></el-input>
            </el-form-item>
            <el-form-item label="Old Password" prop="old_password">
                <el-input v-model="ruleForm.old_password" placeholder="Please enter the old password" show-password ></el-input>
            </el-form-item>
            <el-form-item label="New Password" prop="new_password">
                <el-input v-model="ruleForm.new_password" placeholder="Please enter the new password" show-password></el-input>
            </el-form-item>
            <el-form-item label="Confirm Password" prop="confirm_password">
                <el-input v-model="ruleForm.confirm_password" placeholder="Please confirm new password" show-password></el-input>
            </el-form-item>

            <el-form-item>
                <el-button @click="resetForm('ruleForm')">RESET</el-button>
                <el-button type="primary" @click="submitForm('ruleForm')">SUBMIT</el-button>
            </el-form-item>
        </el-form>


        </el-form>
    </el-card>
</div>
<script>
    //obtain session customer id
    var sessionParam = '[[${session.residence_info.getCustomer_id()}]]';

    new Vue({
        el:"#app",
        data(){
            let confirm_pass = (rule, value, callback) => {
                if (value !== this.ruleForm.new_password) {
                    callback(new Error('password does not match'));
                }else {
                    callback();
                }
            };

            return {
                ruleForm: {
                    old_password:'',
                    new_password: '',
                    confirm_password: '',
                },
                rules: {
                    old_password: [
                        { required: true, message: 'Please enter the older password', trigger: 'blur' },
                    ],
                    new_password: [
                        { required: true, message: 'Please enter the new password', trigger: 'blur' },
                        { min: 6, message: 'Password has to be minimum of 6 characters', trigger: 'blur' },
                    ],
                    confirm_password: [
                        { required: true, message: 'Please confirm the password', trigger: 'blur' },
                        { required: true, validator: confirm_pass, message: 'Password does not match', trigger: 'blur' }
                    ]
                }
            };
        },
        methods: {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        axios.post('/residence/changePassword/'+sessionParam,this.ruleForm)
                            .then(function (res) {
                                if(res.data.status){
                                    Vue.prototype.$message.success(res.data.message);
                                }else {
                                    Vue.prototype.$message.error(res.data.message);
                                }
                            })
                            .catch(function (error) {
                                console.info(error);
                            });
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }
    });
</script>
</body>
</html>